@use './variables' as v;
@use './mixins' as m;

// Start ABOUT
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
 
    .image{
       flex: 1 1 40rem;
 
       img{
          width: 100%;
       }
    }
 
    .content{
       flex: 1 1 40rem;
 
       .about-title{
          @include m.titleText(3rem);
       }
 
       p{
          @include m.graphText(1.5rem);
          padding: 1rem 0;
       }
 
       .icons-container{
          margin-top: 1rem;
          @include m.grid(16rem);
 
          .icons{
             text-align: center;
             border: v.$border;
             background: v.$light-green;
             padding: 3rem 2rem;
 
             img{
                height: 5rem;
                margin-bottom: .5rem;
             }
 
             h3{
                padding: .5rem 0;
                @include m.titleText(3rem);
             }
 
             span{
                @include m.graphText(1.5rem);
             }
          }
       }
    }
 }
 
 .teachers{
 
    .slide{
       text-align: center;
 
       &:hover{
 
          .image{
             img{
                background: v.$green;
             }
 
             .share{
                bottom: 0;
             }
          }
       }
 
       .image{
          position: relative;
          overflow: hidden;
 
          img{
             background: v.$light-green;
             width: 100%;
          }
 
          .share{
             position: absolute;
             bottom: -10rem;
             left:0;
             right:0;
             background: rgba(0,0,0,.8);
             padding: 2rem;
 
             a{
                font-size: 3rem;
                margin: 0 1rem;
                color: v.$white;
 
                &:hover{
                   color: v.$green;
                }
             }
          }
       }
 
       .content{
          display: flex;
          padding-top: 1rem;
          align-items: center;
          justify-content: space-between;
 
          h3{
             @include m.titleText(2rem);
          }
 
          span{
             @include m.graphText(1.5rem);
          }
       }
    }
 }

 .teachers-slider{
   padding-bottom: 4rem;
 }
 
 .reviews{
 
    .slide{
       text-align: center;
 
       p{
          @include m.graphText(1.5rem);
          position: relative;
          background: v.$light-green;
          border: v.$border;
          margin-bottom: 3rem;
          padding: 2rem;
 
          &::before{
             content: '';
             position: absolute;
             bottom: -1.2rem;
             left: 50%;
             transform: translateX(-50%) rotate(45deg);
             background: v.$light-green;
             border-bottom: v.$border;
             border-right: v.$border;
             height: 2rem;
             width: 2rem;
          }
       }
 
       img{
          height: 7rem;
          width: 7rem;
          border-radius: 50%;
       }
 
       h3{
          @include m.titleText(2.2rem);
          padding: .5rem 0;
       }
 
       .stars{
          font-size: 1.2rem;
          color: v.$green;
       }
    }
 }
 // END ABOUT