@use './variables' as v;
@use './mixins' as m;

// Start CONTACT
.contact{

    .icons-container{
       margin-bottom: 3rem;
       @include m.grid(25rem);
 
       .icons{
          text-align: center;
          padding: 3rem 2rem;
          border: v.$border;
          background: v.$light-green;
 
          i{
             height: 6rem;
             width: 6rem;
             line-height: 6rem;
             font-size: 2rem;
             border-radius: 50%;
             margin-bottom: .5rem;
             color: v.$white;
             background: v.$green;
          }
 
          h3{
             @include m.titleText(2rem);
             padding: .5rem 0;
          }
 
          p{
             @include m.graphText(1.5rem);
          }
       }
    }
 
    .row{
       display: flex;
       align-items: center;
       flex-wrap: wrap;
       gap: 2rem;
 
       .image{
          flex: 1 1 40rem;
 
          img{
             width: 100%;
          }
       }
 
       form{
          flex: 1 1 40rem;
          border: v.$border;
          padding: 2rem;
 
          h3{
             @include m.titleText(2.5rem);
             padding-bottom: 1rem;
          }
 
          .box{
             width: 100%;
             padding: 1.2rem 1.4rem;
             border: v.$border;
             font-size: 1.6rem;
             margin: .7rem 0;
 
             &:focus{
                background: v.$green;
                color: v.$white;
 
                &::placeholder{
                   color: v.$light-white;
                }
             }
          }
 
          textarea{
             height: 15rem;
             resize: none;
          }
       }
    }
 }
 
 .faq{
 
    .accordion-container{
       display: flex;
       flex-wrap: wrap;
       gap: 2rem;
       align-items: flex-start;
 
       .accordion{
          flex: 1 1 40rem;
          border: v.$border;
 
          &.active{
 
             .accordion-heading{
                background: v.$green;
 
                h3{
                   color: v.$white;
                }
 
                i{
                   color: v.$white;
                   transform: rotate(180deg);
                }
             }
 
             .accordion-content{
                display: block;
             }
          }
 
          .accordion-heading{
             display: flex;
             align-items: center;
             justify-content: space-between;
             gap: 1rem;
             cursor: pointer;
             padding: 1.5rem;
 
             h3{
                @include m.titleText(2rem);
             }
 
             i{
                font-size: 2rem;
                color: v.$green;
             }
          }
 
          .accordion-content{
             padding: 1.5rem;
             @include m.graphText(1.5rem);
             border-top: v.$border;
             display: none;
          }
       }
    }
 }

 
.logo-container{
    text-align: center;
 
    img{
       height: 10rem;
       pointer-events: none;
    }
 }

//  .swiper-pagination-bullet-active{
//     background: v.$green;
//  }
 // End Contact