@use './variables' as v;
@use './mixins' as m;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   transition: all .2s linear;
}

img{
   user-select: none;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   
   &::-webkit-scrollbar{
      width: 1rem;
   }

   &::-webkit-scrollbar-track{
      background: transparent;
   }

   &::-webkit-scrollbar-thumb{
      background: v.$green;
   }
}

section{
   padding: 5rem 10%;
}

.heading-link{
   text-align: center;
   background: url(../images/heading-bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;

   h3{
      @include m.titleText(4rem);
   }

   p{
      @include m.graphText(2rem);

      a{
         color: v.$green;

         &:hover{
            text-decoration: underline;
         }
      }
   }
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
   @include m.titleText(3.5rem);
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   padding: 1rem 3rem;
   font-size: 1.8rem;
   border: v.$border;
   background: v.$light-green;
   color: v.$green;
   cursor: pointer;
   text-transform: capitalize;

   &:hover{
      background: v.$green;
      color: v.$white;
   }
}

.header{
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   background: v.$white;
   box-shadow: v.$box-shadow;
   padding: 2rem 10%;
   display: flex;
   align-items: center;
   z-index: 1000;

   .logo{
      margin-right: auto;
      @include m.titleText(2.5rem);
      font-weight: bolder;

      i{
         color: v.$green;
      }
   }

   .navbar{
      position: relative;

      #close-navbar{
         position: absolute;
         top: 1.5rem;
         right: 2rem;
         font-size: 4rem;
         cursor: pointer;
         color: v.$black;
         display: none;

         &:hover{
            transform: rotate(90deg);
         }
      }

      a{
         margin-right: 2rem;
         @include m.titleText(2rem);
   
         &:hover{
            color: v.$green;
         }
      }
   }

   .icons div{
      cursor: pointer;
      font-size: 2.5rem;
      color: v.$black;
      margin-left: 1.5rem;

      &:hover{
         color: v.$green;
      }
   }

   #menu-btn{
      display: none;
   }
}

.account-form{
   position: fixed;
   top: 0;
   right: -105%;
   width: 35rem;
   background: v.$white;
   display: flex;
   flex-flow: column;
   gap: 2rem;
   justify-content: center;
   height: 100%;
   z-index: 1200;
   padding: 2rem;
   text-align: center;

   &.active{
      right: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
   }

   #close-form{
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      font-size: 4rem;
      cursor: pointer;
      color: v.$black;

      &:hover{
         transform: rotate(90deg);
      }
   }

   form{
      border: v.$border;
      padding: 2rem;
      display: none;

      &.active{
         display: block;
      }

      h3{
         @include m.titleText(2.5rem);
         padding-bottom: .5rem;
         text-transform: uppercase;
      }

      .box{
         width: 100%;
         padding: 1.2rem 1.4rem;
         border: v.$border;
         font-size: 1.6rem;
         margin: .7rem 0;
      }

      .flex{
         padding: 1rem 0;
         display: flex;
         align-items: center;
         gap: .5rem;

         label{
            font-size: 1.5rem;
            color: v.$light-color;
            cursor: pointer;
         }

         a{
            font-size: 1.5rem;
            color: v.$light-color;
            margin-left: auto;
            
            &:hover{
               text-decoration: underline;
               color: v.$green;
            }
         }
      }

      .btn{
         width: 100%;
      }
   }

   .buttons .btn{
      margin: 0 .5rem;

      &.active{
         background: v.$green;
         color: v.$white;
      }
   }
}

.home{
   padding: 0;

   .slide{
      display: flex;
      align-items: center;
      height: 60rem;
      background-size: cover !important;
      background-position: center !important;

      .content{
         width: 50rem;

         h3{
            @include m.titleText(5rem);
            color: v.$white;
         }

         p{
            @include m.graphText(1.6rem);
            color: v.$light-white;
            padding: 1rem 0;
         }
      }
   }
}

.swiper-pagination-bullet-active{
   background: v.$green;
}

.subjects{

   .box-container{
      @include m.grid(16rem);

      .box{
         padding: 3rem 2rem;
         text-align: center;
         border: v.$border;
         background: v.$light-green;
         cursor: pointer;

         &:hover{
            background: v.$green;

            h3{
               color: v.$white;
            }

            p{
               color: v.$light-white;
            }
         }

         img{
            height: 10rem;
            margin-bottom: .7rem;
         }

         h3{
            @include m.titleText(1.7rem);
            padding: .5rem 0;
         }

         p{
            @include m.graphText(1.5rem);
         }
      }
   }
}

.home-courses{

   .slide{
      text-align: center;
      position: relative;
      background: v.$light-green;
      overflow: hidden;
      
      &:hover .content{
         bottom: 0;
      }

      .image{
         padding: 2rem;

         img{
            width: 100%;
            margin-bottom: 1.5rem;
         }

         h3{
            @include m.titleText(2rem);
         }
      }

      .content{
         position: absolute;
         bottom: -100%;
         right:0;
         left:0;
         background: v.$green;
         padding: 2rem 3rem;

         h3{
            @include m.titleText(2rem);
            color: v.$white;
         }

         p{
            padding: 1rem 0;
            @include m.graphText(1.5rem);
            color: v.$light-white;
         }

         .btn:hover{
            background: v.$black;
         }
      }
   }
}

.home-courses-slider{
   padding-bottom: 4rem;
}

.reviews-slider{
   padding-bottom: 4rem;
}

.footer{
   background: v.$light-green;
   padding-bottom: 10rem;

   .box-container{
      @include m.grid(25rem);

      .box{

         h3{
            @include m.titleText(2.2rem);
            padding: 1rem 0;

            i{
               color: v.$green;
            }
         }

         .share{
            margin-top: 1rem;

            a{
               height: 4.5rem;
               width: 4.5rem;
               line-height: 4.5rem;
               font-size: 1.7rem;
               background-color: v.$green;
               color: v.$white;
               margin-right: .3rem;
               text-align: center;

               &:hover{
                  background-color: v.$black;
               }
            }
         }

         .link{
            @include m.graphText(1.7rem);
            padding: .5rem 0;
            display: block;

            &:hover{
               color: v.$green;
               text-decoration: underline;
            }
         }

         p{
            @include m.graphText(1.5rem);
            padding: 1rem 0;
         }

         .email{
            width: 100%;
            padding: 1.2rem 1.4rem;
            font-size: 1.6rem;
            border: v.$border;
            margin-bottom: 1rem;
         }
      }
   }

   .credit{
      text-align: center;
      margin-top: 3rem;
      padding-top: 3rem;
      @include m.titleText(2rem);
      border-top: v.$border;

      span{
         color: v.$green;

         a{
            color: v.$green;
         }
      }

      

   }
}

// Media Queries 

@media (max-width:1200px){

   .header{
      padding: 2rem 5%;
   }

   section{
      padding: 3rem 5%;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   .header{
      padding: 2rem;
   }

   section{
      padding: 3rem 2rem;
   }

}

@media (max-width:768px){

   .header{

      #menu-btn{
         display: inline-block;
      }

      .navbar{
         position: fixed;
         top: 0;
         right: -105%;
         width: 30rem;
         background: v.$white;
         height: 100%;
         display: flex;
         flex-flow: column;
         justify-content: center;
         z-index: 1200;

         #close-navbar{
            display: block;
         }

         &.active{
            box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
            right: 0;
         }

         a{
            display: block;
            margin: 1rem 0;
            text-align: center;
            font-size: 3rem;
         }
      }
   }

   .home .slide .content h3{
      font-size: 3rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading{
      font-size: 3rem;
   }

   .about .content .about-title{
      font-size: 4rem;
   }

}